application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

/vendor/
.well-known/

assets/uploads/
assets/cronjob/
.env
/.htaccess
error_log
/.user.ini
/php.ini
