div.dt-buttons {
    margin-bottom: 5px;
}
.date-time
{
    width: unset;
    display: inline-block;
    padding: 5px 5px;
    height: 20px;
}
#net-building-report table
{
    font-size:10px;
}
.panel-heading select
{
    display: inline-block;
    width: 100px;
    padding: 0px 5px;
    height: 20px;
}
/*.table-minimum-padding>tbody th*/
/*{*/
    /*padding:1px;*/
/*}*/
/*.table-minimum-padding>tbody td*/
/*{*/
    /*padding:1px;*/
/*}*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th{
    padding: 1px;
}

/********************** begin - status summary  */
.already_sent, .as_built, .conciliation_shipment
{
    background-color: #79B9D3!important;
}
.approved, .assigned_to, .completed, .conciliation_reception, .cre_return_order
{
    background-color: #FFFF00!important;
}
.canceled, .returned
{
    background-color: #FF0000!important;
}
/********************** end - status summary  */
/********************** begin - net building report  */
.countId
{
    background-color: #88B2E4!important;
}
.entryPoints, .entryDistance, .digitizationPoints, .digitizationDistance, .asBuiltPoints, .asBuiltDistance
{
    background-color: #F9FF00!important;
}
.countWithoutDigitizationPoints, .countWithoutAsBuiltPoints, .countWithoutBudgets, .countWithoutRealBudgets
{
    background-color: #DBE6F2!important;
}

.sumDesignBudget, .sumBuildingBudget, .sumTransportationBudget, .sumLiveLineBudget, .sumRightOfWayBudget, .sumDesignRealBudget, .sumBuildingRealBudget, .sumTransportationRealBudget, .sumLiveLineRealBudget, .sumRightOfWayRealBudget
{
    background-color: #E9F3DE!important;
}
.sumBudget, .sumRealBudget
{
    background-color: #79DA4C!important;
}
/********************** end - net building report  */