
/********************** begin - net building report  */
.countId
{
    background-color: #88B2E4!important;
}
.entryPoints, .entryDistance, .digitizationPoints, .digitizationDistance, .asBuiltPoints, .asBuiltDistance
{
    background-color: #F9FF00!important;
}
.countWithoutDigitizationPoints, .countWithoutAsBuiltPoints, .countWithoutBudgets, .countWithoutRealBudgets
{
    background-color: #FF0000!important;
}

.sumDesignBudget, .sumBuildingBudget, .sumTransportationBudget, .sumLiveLineBudget, .sumRightOfWayBudget, .sumDesignRealBudget, .sumBuildingRealBudget, .sumTransportationRealBudget, .sumLiveLineRealBudget, .sumRightOfWayRealBudget
{
    background-color: #E9F3DE!important;
}
.sumBudget, .sumRealBudget
{
    background-color: #79DA4C!important;
}
/********************** end - net building report  */

.columns-to-download .checkbox
{
    font-size: 9px;
    margin-bottom: 0px;
    margin-top:0px;
}
.columns-to-download input[type=checkbox], input[type=radio] {
    margin: 0px 0 0 -20px;
}
.select2-dropdown {
    z-index: 1061;
}