div.dt-buttons {
    margin-bottom: 5px;
}

.date-time
{
    width: unset;
    display: inline-block;
    padding: 5px 5px;
    height: 20px;
}
.date-time, .date-time-default-blank
{
    width: unset;
    display: inline-block;
    padding: 5px 5px;
    height: 20px;
}
#net-building-report table
{
    font-size:10px;
}
.panel-heading select, .panel-footer select
{
    display: inline-block;
    width: 80px;
    padding: 0px 5px;
    height: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th{
    padding: 1px;
}
.dashboard-navigation
{
    display:inline-block;
    font-size: 10px;
    line-height: 0.6;

}
.dashboard-navigation .active a
{
    background-color: #0F263A!important;
}
/********************** begin - status summary  */
.stakes, .digitization, .drawing
{
    background-color: #8EA9DB!important;
}
.ready_to_send, .already_sent, .completed, .as_built, .conciliation_shipment, .cre_return_order, .project_energized, .conciliation_reception
{
    background-color: #FFFF00!important;
}
.approved, .assign_to, .in_progress, .paused, .stopped
{
    background-color: #92D050!important;
}
.returned, .canceled
{
    color: #305496!important;
}
.project_return_materials, .project_real_budget_confirmation
{
    background-color: #00B0F0!important;
}
#current-status-summary-report .current-status-total
{
    background-color: #FF0000!important;
    font-weight: 600;
    color:#fff;
}
/********************** end - status summary  */
/********************** begin - executive summary report  */
#executive-summary-report .design
{
    background-color: #8EA9DB!important;
}
#executive-summary-report .alreadySent
{
    background-color: #FFFF00!important;
}
#executive-summary-report .inProgress
{
    background-color: #92D050!important;
}
#executive-summary-report .closure
{
    background-color: #FFFF00!important;
}
#executive-summary-report .closed
{
    background-color: #00B0F0!important;
}
#executive-summary-report .executive-summary-total
{
    background-color: #FF0000!important;
    font-weight: 600;
    color:#fff;
}
/********************** end - executive summary report  */