body{
    background: url('../../images/bg-body.jpg');
}
/****************************** begin - main logo settings*/
.logo-link
{
    padding: 0px 10px;
}
.logo-image
{
    width: 80%;
}/****************************** end - main logo settings*/

/****************************** begin - panel settings*/
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #0F263A;
    border-color: #ddd;
}
/****************************** end - panel settings*/

/****************************** begin - menu settings*/
#side-menu
{
    /*background-color: #0F263A;*/
    background: url('../../images/login-bg.jpg');
}
#side-menu a{
    color:#fff;
}
#side-menu a.active{
    color:#0F263A;
    font-weight: bold;
    background-color: #f7c12b;
}
#side-menu a:hover{
    color:#0F263A;
    background-color: #f8d171;
}
#side-menu a:focus{
    color:#0F263A;
    background-color: #f8d171;
}
.page-header
{
    text-transform: uppercase;
}
.navbar-top-links a
{
    color: #fff;
}
.navbar-top-links li a:hover
{
    background: #194265;
}
.navbar-top-links li a:focus
{
    background: #194265;
}
.navbar-top-links li.open a:focus
{
    background: #194265;
}
.nav .open>a
{
    background: #194265;
}
.navbar-static-top
{
    background: url('../../images/login-bg.jpg');
}
/****************************** end - menu settings*/

/****************************** begin - table settings*/
.table-responsive table
{
    font-size: 11px;
}
.table-responsive table thead
{
    color:#fff;
    background-color: #0F263A;
    text-transform: uppercase;
}
.table-responsive table tbody td
{
    padding:5px;
}
/****************************** end - table settings*/
.btn-primary {
    background-color: #0F263A;
}
.page-header {
    border-bottom: 2px solid #31708f;
}
/********************************** begin - bootstrap date time picker */
.bootstrap-datetimepicker-widget table td span {
    color: #000;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
    color: #000;
}
/********************************** end - bootstrap date time picker */
#page-wrapper
{
    background: url('../../images/bg-body.jpg');
}
.container-fluid
{
    margin-top: 25px;
    background: #fff;
}
.dropdown-user
{
    background:#202336
}
.dropdown-user li a
{
    color:#fff;
}
.dropdown-user li a:hover
{
    color:#fff;
}