
#work-plan-summary-table tbody, #work-plan-summary-table thead {
	display: block;
	/*width: 600px;*/
}

#work-plan-summary-table tbody {
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

/*#work-plan-summary-table tbody td {*/
/*	display: block;*/
/*	width: 200px;*/
/*	float: left;*/

/*}*/
.ps > .ps__rail-x, .ps > .ps__rail-y {
    opacity: 0.4;
}
.ps__thumb-y
{
	width:8px
}
.border-left
{
	border-left: 1px solid #ddd;
}
.swiper-pagination-bullet
{
	width: auto;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 0px 5px;
}
.swiper-pagination-bullet-active
{
	color: #fff;
	background: #007aff;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
{
	bottom: 0px;
}
