.tags span{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin: 0 5px 0px 0;padding:5px 10px;}
.tags span:hover{border-color:#08C;}
.tags span.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags span.success{color:#FFF;background-color:#5CB85C;border-color: #ffffff;}
.tags span.info{color:#FFF;background-color:#5BC0DE;border-color: #eaeaea;}
.tags span.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags span.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}

.sortable-list
{
    margin-bottom: 5px;
    padding:10px;
    background: #c7c7c7;
}
.ui-state-highlight
{
    width:80px;
    height:35px;
    padding:0px;
    margin:0px;
    line-height: 1.2em;
}
.parsley-errors-list
{
    color: #8a6d3b;
    font-weight: 600;
}
.subtext
{
    color: #cdcdcd;
    font-size: 23px;
}
blockquote
{
    padding: 0px 10px;
    margin: 0 0 10px;
    font-size: 11px;
    border-left: 5px solid #96c03d;
}
blockquote dl
{
    margin-bottom: 10px;
}
.header-description
{
    font-size: 11px;
}
.original-area
{
    color: #a29999;
}
.quick-log-status-name
{
    /*color: #96c03d;*/
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #fab90a;
}
.header-description.well
{
    margin-bottom: 0px;
}
#add-incident
{
    /*border-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    border-bottom: none !important;
    padding: 1em 1.3em .8em 1em;
    /*position: absolute;*/
    font-size:11px;
}
.edit-construction-assignments
{
    font-size:12px;
}
.status-management-card-title
{
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
    position: absolute;
    bottom: 22px;
    right: 22px;
}
.status-management-card
{
    font-size:12px;
}
.status-management-card .panel-heading
{
    min-height:65px;
}

#btn-detail-content, #btn-history-content, #btn-help-content
{
    display: none;
}
#help-content
{
    display: none;
}
.step-icon
{
    display: none;
}
@media (max-width: 375px)
{
    #add-incident
    {
        /*display: none;*/
    }
    #btn-detail-content, #btn-history-content, #btn-help-content
    {
        display: block;
        width: auto;
        margin-left: 13px;
        padding-right: 0;
        padding-left: 0;
        top: 6px;
        position: absolute;
    }

    #btn-detail-content a, #btn-history-content a, #btn-help-content a
    {
        z-index: 9;
    }
    #btn-detail-content
    {
        left: 4px;
    }
    #btn-history-content
    {
        left: 46px;
    }
    #btn-help-content
    {
        left: 89px;
    }
    #basic-data
    {
        position:absolute;
        width:80%;
        z-index:4;
        background-color:rgba(15, 15, 27, 0.6);
        padding-top:20px;
        margin-left:15px;
        display:none;
        top: 78px;
        height: 300px;
        overflow: auto;
    }

    #basic-data .status-management-card
    {
        font-size:20px;
    }
    #history-content
    {
        position:absolute;
        width:80%;
        z-index:4;
        background-color:rgba(15, 15, 27, 0.6);
        padding-top:20px;
        display:none;
        top: 78px;
        /* right:0px; */
        margin-right:15px;
    }
    #history-content .panel-body
    {
        height: 300px!important;
    }
    #history-content .quick-log-status-name
    {
        font-size: 16px;
    }
    blockquote
    {
        font-size: 15px;
    }
    #help-content
    {
        position:absolute;
        width:80%;
        z-index:4;
        background-color:rgba(15, 15, 27, 0.6);
        padding-top: 9px;
        padding-left: 7px;
        padding-right: 7px;
        /*display:block;*/
        top: 78px;
        left: 0px;
        margin-right:15px;
        border: 1px solid;
    }
    #help-content p
    {
        color:#fff;
        background-color:rgba(15, 15, 27, 0.6);
        padding:3px;
    }
    #help-content .table
    {
        background-color:#fff;
        text-align:center;
    }

    #help-content .table-responsive
    {
        overflow-y: auto;
        height: 300px;
    }

    #help-content .icon-description
    {
        font-size: 20px;
    }

    #status-form-content, #status-form-content .form-control
    {
        font-size: 20px;
    }
    #status-form-content .well, #status-form-content h4
    {
        font-size:25px;
        font-weight:600
    }
    #status-form-content button.save-status
    {
        width: 100%;
    }
    #status-management-content .step-name
    {
        display:none;
    }
    #status-management-content .step-icon, #status-management-content .step-icon-add
    {
        display: block;
        font-size:15px;
    }
}