.ps > .ps__rail-x, .ps > .ps__rail-y {
    opacity: 0.4;
}
.ps__thumb-y
{
  width:8px
}

/*####################################################################*/
.table-input-work-plan
{
  padding: 0px;
  border: 0px;
  width: 100%;
  background-color: inherit;
}
.vertical-align
{
  vertical-align: middle!important;
}
.table-month, .table-days, .table-dates
{
  text-align:center;
  padding-bottom: 1px!important;
  padding-top: 1px!important;
}
.cell-selected
{
    background-image: url(../../images/maintenance.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.next-week, .previous-week
{
  text-align:center;
  padding-bottom: 1px!important;
  padding-top: 1px!important;  
  cursor: pointer;
}
.width-30
{
  width: 30px!important;
}
.work-plan-table
{
  margin-bottom: 0px;
}
.work-plan-table thead {
    color: #fff;
    background-color: #0F263A;
    text-transform: uppercase;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}
.table-striped>thead>tr{
    background-color: #0F263A;
}
div.table-content{
  overflow:auto;
  width:100%;
  margin-bottom: 20px;
  /*border: 1px solid #ddd;*/
  /*height:200px;*/
}
.work-plan-table td,
.work-plan-table th {
  /*border: 1px solid #000;*/
  width: 100px;
}
/*th {background-color:inherit;}*/

.work-plan-table table {
  table-layout: fixed;
  width:100%;
}
.work-plan-table td:first-child, th:first-child {
  position:sticky!important;
  left:0;
  z-index:1;
  background-color:inherit!important;
}
.work-plan-table td:last-child, .work-plan-table th:last-child {
  position:sticky!important;
  right:0;
  z-index:1;
  background-color:inherit!important;
}
.work-plan-table thead tr th {
  position:sticky;
  top:0;
}
.work-plan-table th:first-child, .work-plan-table th:last-child {z-index:2;}

.days-width
{
  width: 60px;
}

.cell-date
{
  cursor: pointer;
}

#tblPlan {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    border:solid 1px lightgrey; 
}

.shadow-right {
    position: relative;
}
.shadow-right:after {
    box-shadow: 15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
} 
.shadow-left {
    position: relative;
}
.shadow-left:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    top: 0;
    left: -15px;
    position: absolute;
    width: 15px;
}

.date-to-work
{
  cursor:pointer
}
.date-to-work:hover
{
  background-color: #f7c02b99;
}
.change-week:hover
{
  background: #f7c12b7a;
}
.delete-row
{
  background: #d9534f;
  color: #ffffff;
  cursor: pointer;
}
.delete-row:hover
{
  background: #c9302c;
  color: #ffffff;
}