/*####################################################################*/
.table-input-work-plan
{
  padding: 0px;
  border: 0px;
  width: 100%;
  background-color: inherit;
}
.vertical-align
{
  vertical-align: middle!important;
}
.table-month, .table-days, .table-dates
{
  text-align:center;
  padding-bottom: 0px!important;
  padding-top: 0px!important;
}
.cell-selected
{
    background-image: url(../../images/flaticon/electrician.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.next-week, .previous-week
{
  text-align:center;
  padding-bottom: 1px!important;
  padding-top: 1px!important;  
  cursor: pointer;
}
.width-30
{
  width: 30px!important;
}
/*.work-plan-table
{
  margin-bottom: 0px;
}
.work-plan-table thead {
    color: #fff;
    background-color: #0F263A;
    text-transform: uppercase;
}*/
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}
.table-striped>thead>tr{
    background-color: #0F263A;
}
div.table-content{
  overflow:auto;
  width:100%;
  margin-bottom: 20px;
  /*border: 1px solid #ddd;*/
  /*height:200px;*/
}
/*.work-plan-table td,*/
/*.work-plan-table th {*/
  /*border: 1px solid #000;*/
  /*width: 100px;*/
/*}*/
/*th {background-color:inherit;}*/

/*.work-plan-table table {
  table-layout: fixed;
  width:100%;
}*/
/*.work-plan-table td:first-child, th:first-child {
  position:sticky!important;
  left:0;
  z-index:1;
  background-color:inherit!important;
}*/
/*.work-plan-table td:last-child, .work-plan-table th:last-child {
  position:sticky!important;
  right:0;
  z-index:1;
  background-color:inherit!important;
}*/
/*.work-plan-table thead tr th {
  position:sticky;
  top:0;
}*/
/*.work-plan-table th:first-child, .work-plan-table th:last-child {z-index:2;}*/

.days-width
{
  width: 60px;
}

.cell-date
{
  cursor: pointer;
}

#tblPlan {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    border:solid 1px lightgrey; 
}

.shadow-right {
    position: relative;
}
.shadow-right:after {
    box-shadow: 15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
} 
.shadow-left {
    position: relative;
}
.shadow-left:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    top: 0;
    left: -15px;
    position: absolute;
    width: 15px;
}

.date-to-work
{
  cursor:pointer
}
.date-to-work:hover
{
  background-color: #f7c02b99;
}
.change-week:hover
{
  background: #f7c12b7a;
}
.delete-row
{
  background: #d9534f;
  color: #ffffff;
  cursor: pointer;
}
.delete-row:hover
{
  background: #c9302c;
  color: #ffffff;
}
/********************************************** start - select2 special class */
.select2-container--classic .select-xs, .select2-container--default .select-xs {
    height: 1.63rem !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 14px;
}
.select2-container .select2-selection--single .select2-selection__clear {
    margin-right: 3px;
}
.select2-container--classic .select-xs.select2-selection--single .select2-selection__rendered, .select2-container--default .select-xs.select2-selection--single .select2-selection__rendered {
    padding-right : 1.5rem;
}
.modal-workplan-form select.form-control:not([size]):not([multiple]).input-sm,.modal-workplan-form  input.form-control.input-sm {
    height: 1.525rem;
    font-size: 0.75rem;
    padding: 0.075rem 0.3rem;
}
.select2-results
{
    min-width: 200px;
    background: #eceff1;
    border: 1px solid #aaaaaa;
}
.select2-search--dropdown {
    border: 1px solid #aaaaaa;
}
.list-group-item {
    padding: 0.5rem 1.25rem;
}
/* prevent css error style on sweet alert */
.select2-dropdown {
    border: 0;
    z-index: 1061;
}
.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true], .select2-container--default .select2-results__options .select2-results__option[aria-selected=true]
{
    background-color: #1cf9fd !important;
}
/********************************************** end - select2 special class */
#swal2-content {
    text-align: initial!important;
}
.modal-workplan-form
{
  max-width:1000px;
}